@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.achievements {
  padding: 0 0 80px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 120px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 0 160px;
  }
}

.achievements__subsection-heading {
  margin: 0 0 30px;

  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 46px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 62px;
  }
}
