@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 50px 0 0;
  min-height: 330px;

  @media (min-width: var.$tablet-width) {
    padding: 80px 0 0;
    min-height: 850px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 200px 0 0;
    min-height: 998px;

    background-image: url("../../img/bg-html.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: 48px;

    @media (min-width: var.$more-2k-width) {
      background-image: none;
    }
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    width: 100%;
    height: 360px;

    background-image: url("../../img/icons/stack.svg#promo-image");
    background-repeat: no-repeat;
    background-size: 320px 360px;
    background-position: center top;

    opacity: 0.3;

    @media (min-width: var.$tablet-width) {
      height: 800px;

      background-size: 768px 800px;
      background-position: center top;
    }

    @media (min-width: var.$desktop-width) {
      position: absolute;
      top: 24px;
      left: calc(50vw - 32px);

      width: 800px;
      height: 800px;

      opacity: 1;
    }
  }

  &::after {
    @media (min-width: var.$tablet-width) {
      content: "";

      width: 100%;
      height: 150px;

      background-color: var.$color-alter-bg;
      background-image: url("../../img/icons/stack.svg#bg-tags");
      background-position: center;
      background-repeat: no-repeat;
      border-top: 2px solid var.$color-border;
    }

    @media (min-width: var.$desktop-width) {
      position: absolute;
      bottom: 0;

      min-width: 1408px;
      width: 100%;
      height: 200px;
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  margin: 0 auto auto;
}

.promo__main-heading {
  order: 2;
  margin: 0 0 12px;

  @include mixin.font-main-heading;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 16px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 16px;
    max-width: 715px;
  }
}

.promo__subscription-text {
  order: 1;
  margin: 0 0 16px;

  @include mixin.font-promo-subscription-text;

  @media (min-width: var.$desktop-width) {
    margin: 0;
    padding: 32px 0 16px;
    max-width: 715px;
  }

  &--inner {
    @include mixin.font-section-heading;

    @media (min-width: var.$desktop-width) {
      text-align: left;
    }
  }
}

.promo__inner-text {
  order: 3;
  margin: 0;
  max-width: 715px;

  font-weight: var.$medium;
  text-align: center;

  @media (min-width: var.$desktop-width) {
    text-align: left;
  }

  &--alter-color {
    color: var.$color-accented-text;
  }
}
