@use "tokens" as tok;

$color-sky: tok.$blue;
$color-verily-white: tok.$white;
$color-fundamental-gold: tok.$gold;
$color-arterial-red: tok.$red-400;
$color-venous-red: tok.$red-800;
$color-verily-black: tok.$black;

$font-quotes: "Cinzel", "Forum", serif;
$font-main-text-accented: "Lora", serif;
$font-main-text: "Source Serif 4", serif;
$font-comments: "Source Sans 3", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
$max-desktop-width: 1440px;
$max-wide-width: 1920px;
$double-density: 2dppx;
