@use "../global/variables.scss" as var;

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @media (min-width: var.$tablet-width) {
        padding: 0 40px;
        max-width: 1199px;
    }

    @media (min-width: var.$desktop-width) {
        padding: 0 60px;
        max-width: 1439px;
    }

    @media (min-width: var.$max-desktop-width) {
        padding: 0 72px;
        max-width: var.$max-desktop-width;
    }

    @media (min-width: 1921px) {
        max-width: var.$max-wide-width;
    }
}
