@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.add-info {
  padding: 0 0 90px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 120px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 0 160px;
  }
}

.add-info__list {
  margin: 0;
}
