@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.intro {
  padding: 0 0 60px;

  @media (min-width: var.$tablet-width) {
    padding: 120px 0 90px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 160px 0 120px;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: 626px 1fr;
    column-gap: 80px;
  }
}

.intro__heading {
  @media (min-width: var.$desktop-width) {
    grid-column: span 2;
  }
}

.intro__user-image-wrapper {
  margin: 0 auto 40px;

  @media (min-width: var.$tablet-width) {
    margin: 0 auto 70px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}
