@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.section {
  background-image: url("../../img/icons/stack.svg#pattern-lines");
  background-repeat: repeat-y;
  background-size: 1376px 1px;
  background-position-x: center;
}

.section__heading {
  margin: 0 0 40px;

  @include mixin.font-section-heading;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 70px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 100px;
  }

  &--inner {
    margin: 0 0 30px;

    @include mixin.font-promo-subscription-text;

    @media (min-width: var.$tablet-width) {
      margin: 0 0 40px;
    }
  }
}
