@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.skills-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.skills-list__item {
  flex-shrink: 0;
}

.skills-list__skill {
  margin: 0 0 4px;
  padding: 0 0 0 82px;
  height: 72px;

  @include mixin.font-skills-text;

  background-repeat: no-repeat;
  background-size: 66px 72px;
  background-position: left;

  @media (min-width: var.$desktop-width) {
    max-width: 480px;
  }
}

.skills-list__skill--html {
  background-image: url("../../img/icons/stack.svg#icon-html");
}

.skills-list__skill--css {
  background-image: url("../../img/icons/stack.svg#icon-css");
}

.skills-list__level {
  margin: 0 0 16px;
  padding: 4px;
  height: 34px;
  width: 100%;

  font-size: 0;

  background-color: var.$color-main-white;
  border: 1px solid var.$color-border-skills-level;

  @media (min-width: var.$desktop-width) {
    max-width: 478px;
  }
}

.skills-list__level-filled {
  height: 24px;
  background-color: var.$color-skills-progress;
  background-image: url("../../img/icons/stack.svg#progress-pattern");
  background-size: 32px 24px;
}
