@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.subsection {
  padding: 0 0 40px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 48px;
  }

  @media (min-width: var.$tablet-width) {
    padding: 0 0 56px;
  }
}

.subsection__heading {
  margin: 0 0 12px;

  @include mixin.font-subsection-heading;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 16px;
  }
}

.subsection__text {
  margin: 0;
}

.subsection__skills-list {
  margin: 0 auto;

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}

.subsection__button {
  margin: 0 auto;

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}

.subsection__works-list {
  margin: 12px 0 0;

  @media (min-width: var.$tablet-width) {
    margin: 16px 0 0;
  }
}
