@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.user-image-wrapper {
  width: calc(320px - (2 * 20px));

  @media (min-width: var.$tablet-width) {
    width: 513px;
  }

  @media (min-width: var.$desktop-width) {
    width: 100%;
  }
}
